.jumbotron {
	background-color: #cccccc;
	/*float: left;*/
}
.display-3 {
	text-align: center;
}
.img-thumbnail {
	/*float: left;*/
	/*clear: bottom;*/
}
.icons {
	/*float: left;*/
}

.skills{
	width:75%;
}

.page{
	padding-left: 10px;
}