<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
     <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <title>J.E.A.N/Network</title>
</head>

<body>
    <div class="jumbotron alert alert-danger" role="alert"">
        <h1 class="display-3">Kenny's Network</h1>
    </div>
    <div class="alert alert-warning" role="alert">
        <button class="btn btn-primary notifications dropdown-toggle" type="button" data-toggle="dropdown">
            Notifications <span class="badge">1</span>
        </button>
        <button class="btn btn-primary messages" type="button">
            Messages <span class="badge">1</span> </button>
        <button class="btn btn-primary friendrequest" type="button">
            Friend Requests <span class="badge">1</span>
        </button>
    </div>
    <hr>
    <hr>
    <div>
    <div class="imageFloat">
        {{#each userlogin}}
        <img src="../assets/images/IMG_1781.jpeg" class="gallery">
        <div class="desc">Friend's Name</div>
    </div>
    <div class="imageFloat">
        <img src="../assets/images/14.jpg" class="gallery">
        <div class="desc">Friend's Name</div>
    </div>
    <div class="imageFloat">
        <img src="../assets/images/1.jpg" class="gallery">
        <div class="desc">Friend's Name</div>
    </div>
    <div class="imageFloat">
        <img src="../assets/images/11.jpg" class="gallery">
        <div class="desc">Friend's Name</div>
    </div>
    <div class="imageFloat">
        <img src="../assets/images/2.jpg" class="gallery">
        <div class="desc">Friend's Name</div>
    </div>
    <div class="imageFloat">
        <img src="../assets/images/13.jpg" class="gallery">
        <div class="desc">Friend's Name</div>
    </div>
    <div class="imageFloat">
        <img src="../assets/images/3.jpg" class="gallery">
        <div class="desc">Friend's Name</div>
    </div>
    <div class="imageFloat">
        <img src="../assets/images/12.jpg" class="gallery">
        <div class="desc">Friend's Name</div>
    </div>
    
    </div>
    <hr class="noinheritance">
    <hr>
    <div>
    <h1 class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span> Messages
    </h1>

    <form class="form-style-9">
    <ul> 
    <li>
     <input type="text" name="field1" class="field-style field-split align-left" placeholder="recipient" />
    </li>   

    <li>
    
    <input type="text" name="field2" class="field-style field-full align-none" placeholder="Subject" />
    </li>
    <li>
    <textarea name="field5" class="field-style" placeholder="Message"></textarea>
    </li>
    <li>
    <input type="submit" value="Send Message" />
    </li>
    </ul>
    </form>
    </div>
    <!--<div class="icons">
        <img src="http://icons.iconarchive.com/icons/pixelkit/gentle-edges/128/Game-Controller-icon.png"> </div>

        <div> <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/38420-200.png"></div> -->

        <div class="noinheritance"> 

        
        <a class="twitter-timeline" href="https://twitter.com/ablackdeveloper">Tweets by Ricardo</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
</body>

</html>
