.gallery{

	display: inline-block;
    /*max-width: 100%;
    height: auto;*/
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
	inherited:none;
	width:92px !important;
	height:118px !important;

}

.imageFloat{

	float: left;
	padding-left: 10px;
}

.noinheritance{
	 clear:both;
}